		<div class="tabed">
				<ul class="tabs clearfix">										
						<li class="current">Recent</li>
						<li>Random</li>
				</ul>
				
				<div class="block current">
						<ul class="recent">
							<% @products_recent.each do |product| %>
								<li>
									<%= link_to image_tag(product.photo, alt: "Hotest"), product_path(product), :class=>'img-box'%>					
										<h5><a href="/products/<%=product.slug%>"><%=product.name %></a></h5>
										<p class="rate">
												<%=product.region%>
										</p>
								</li>
								<%end%>
								
						</ul>
				</div><!-- end of block div -->
				
				<div class="block">
					<ul class="recent">
						<% @products_random.each do |product| %>
							<li>
								<%= link_to image_tag(product.photo, alt: "Hotest"), product_path(product), :class=>'img-box'%>					
									<h5><a href="/products/<%=product.slug%>"><%=product.name %></a></h5>
									<p class="rate">
											<%=product.region%>
									</p>
							</li>
							<%end%>
							
					</ul>
				</div><!-- end of block div -->
                <div class="bot-border"></div>
		</div><!-- end of tabed div -->