<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <table>
  <tr>
  <td>Nome do restaurante: </td>
  <td><%=@info[0] %></td>
  </tr>
   <tr>
  <td>Morada: </td>
  <td><%=@info[1] %></td>
  </tr>
   <tr>
  <td>Localidade: </td>
  <td><%=@info[2] %></td>
  </tr>
   <tr>
  <td>Pessoa responsável: </td>
  <td><%=@info[3] %></td>
  </tr>
   <tr>
  <td>Email: </td>
  <td><%=@info[4] %></td>
  </tr>
   <tr>
  <td>Telemóvel: </td>
  <td><%=@info[5] %></td>
  </tr>
   <tr>
  <td>Produto: </td>
  <td><%=@info[6] %></td>
  </tr>
  </table>
  </body>
</html>