  <%= form_for [:admin, @category], :html => {:class => 'custom',"data-abide" => ''} do |f| %>
	 <% if @category.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

	      <ul>
	      <% @category.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

  <fieldset>
    <legend class="contact legend">Category...</legend>

    <div class="row">
      <div class="large-12 columns">
		 <%= f.label :name %><br />
		<%= f.text_field :name, :required => true, :placeholder=>"Name of the category..."%>		
		<small class="error">Name is required.</small>       
      </div>
    </div>
	

<%= f.submit 'submit', :class => 'radius button' %>
   
  </fieldset>
</form>
<%end%>