<%= javascript_include_tag "google.maps.js"  %>
<%= javascript_include_tag params[:controller]  %>
<!-- Main Feed -->
<!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
<div class="large-10 large-centered columns">
<dl class="sub-nav">
  <dt>Filter:</dt>
  <dd class="active"><a onclick="get_product_categories_content('/admin/products/list_suggestions/-1',this);">All</a></dd>
<% @categories.each do |category|  %>
  <dd><a onclick="get_product_categories_content('/admin/products/list_suggestions/<%=category.id%>', this );"><%=category.name%></a></dd>
<%end%>
</dl>
<div id="list_products">
  <%= render "list_products" %>
  </div>
</div>

