<div class="row">
<!-- Contact Details -->
    <div class="large-9 columns">
 
      <h3>Get in Touch!</h3>
      <p>We'd love to hear from you. You can either reach out to us as a whole and one of our awesome team members will get back to you, or if you have a specific question reach out to one of our staff. We love getting email all day <em>all day</em>.</p>
 <%= form_tag ("/contact/sendemail") do %>
      <div class="section-container tabs" data-section>
        <section class="section active">
          <h5 class="title"><a href="#panel1">Contact Our Company</a></h5>
          <div class="content" data-slug="panel1">
            <form>
              <div class="row collapse">
                <div class="large-2 columns">
				 <%= label_tag 'name', 'Your name', :class=>'inline' %>                  
                </div>
                <div class="large-10 columns">
				<%=text_field_tag 'name',nil, :placeholder => 'Jane Smith' %>
                
                </div>
              </div>
              <div class="row collapse">
                <div class="large-2 columns">
				<%= label_tag 'email', 'Your email', :class=>'inline' %>                   
                </div>
                <div class="large-10 columns">
				<%=text_field_tag 'email',nil, :placeholder => 'jane@smithco.com' %>                
                </div>
              </div>
			  
			   <div class="row collapse">
                <div class="large-2 columns">
				<%= label_tag 'subject', 'Subject', :class=>'inline' %>                   
                </div>
                <div class="large-10 columns">
				<%=text_field_tag 'subject',nil, :placeholder => 'information...' %>                
                </div>
              </div>
			  
			  <%= label_tag 'message', "What's up" %>    
			  <%= text_area_tag 'message' %>               
              <button type="submit" class="radius button">Submit</button>
            </form>
          </div>
        </section>        
      </div>
	  <%end%>
    </div>
 
    <!-- End Contact Details -->
	</div>