<% @products.each do |product| %>

  <!-- Feed Entry -->
  <div class="row">
    <div class="large-2 columns small-3">
	<a href ="/products/<%= product.id%>">
	<img src="<%= product.photo %>" />
	</a>
	<p> <%= product.name%> </p>
	</div>
    <div class="large-10 columns">
	<p> <strong>Region: </strong> <%=product.region %> </p>
	<p> <strong>Category: </strong> <%=@category_name %> </p>
      <p> <strong>Description: </strong> <%=product.description %> </p>	
	  <p> <strong>Coordinates: </strong> latitude: <%=product.latitude %> -  longitude: <%= product.longitude %> </p>	     
    </div>
	<hr />
  </div>
  <!-- End Feed Entry -->

  
  
<% end %>