<div class="left_tile1 tile">
</div>

<div class="right_tile1 tile">
</div>

<div class="left_tile2 tile">
</div>

<div class="right_tile2 tile">
</div>

<div id="box">
	<div id="tranparent">
		<div id="title">Deliciously Portugal</div>
	</div>
	<input id="search" placeholder="Search for delicious portuguese food..."/>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $(function() {
    	$('.left_tile1').css('background-image', 'url("<%= @urls[3] %>")');
    	$('.right_tile1').css('background-image', 'url("<%= @urls[0] %>")');
    	$('.left_tile2').css('background-image', 'url("<%= @urls[2] %>")');
    	$('.right_tile2').css('background-image', 'url("<%= @urls[1] %>")');
    $( "#search" ).autocomplete({
      source: <%= @projects %>,
      select: function( event, ui ) {
        window.location = "products/" + ui.item.id;
        return false;
      }
    }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append("<a href='products/" + item.id + "'>" + "<img style='width:40px;height:40px' src='" + item.icon + "' />" + "<span id='teste'>" + item.value + "</span></a>")
        .appendTo( ul );
    };

	});
  });
</script>



