<%= stylesheet_link_tag "twitter-styles.css" %>
<%= javascript_include_tag "twitterfeed-search.js" %>
<div id="content" class="clearfix">
	<div id="left-area" class="clearfix">
		<h1>Recent <span><Recipes><%=@products.first.category.name%></span></h1>
			<span class="w-pet-border"></span><br />

			<% @products.each do |product| %>

			<div class="post recipe-listing-item">					
				<div class="post-thumb single-img-box">
					<%= link_to  image_tag(product.photo, alt:'Image'), product_path(product) %>									
				</div>										

				<div class="recipe-info">									
					<h2><%link_to product.name, product_path(product)%></h2>																					
					<div class="recipe-tags">
						<span class="type">Region: <a href="#"><%=product.region%></a></span>										
					</div>																																															
					<p><%= product.description.length>100 ? product.description[0..99] +" (...)" : product.description%></p>												
					<%= link_to 'Read more', product_path(product), :class=>'readmore'%>									
				</div>

			</div><!-- end of recipe-listing-item div -->
			<%end%>


		</div><!-- end of left-area -->
		<!-- LEFT AREA ENDS HERE -->


		<!-- ========== START OF SIDEBAR AREA ========== -->
		<div id="sidebar">
			<h2 class="w-bot-border">More <span>delicious food</span></h2>
			<div class="widget fav-recipes nostylewt">

				<div class="tabed">
					<ul class="tabs clearfix">
						<% (0..@other_categories.count-1).each  do |category| %>
						<%if category == 0 %>
						<li class="current"><%= @other_categories[category].name.split(' ')[0]%></li>
						<% else%>
						<li><%= @other_categories[category].name.split(' ')[0]%></li>
						<%end%>

						<%end%>
					</ul>
					<div class="block current">
						<ul class="highest">
							<% @products_others.where(category_id: @other_categories[0]).sample(4).each do |product|%>							
								<li>
									<%= link_to image_tag(product.photo, alt: "Hotest"), product_path(product), :class=>'img-box'%>																			
										<h5><a href="/products/<%=product.slug%>"><%=product.name %></a></h5>
										<p class="rate">
												<%=product.region%>
										</p>
								</li>
							<%end%>						
						</ul>
					</div><!-- end of block div -->

					<div class="block">
						<ul class="recent">
							<% @products_others.where(category_id: @other_categories[1]).sample(4).each do |product|%>							
								<li>
										<%= link_to image_tag(product.photo, alt: "Hotest"), product_path(product), :class=>'img-box'%>					
										<h5><a href="/products/<%=product.slug%>"><%=product.name %></a></h5>
										<p class="rate">
												<%=product.region%>
										</p>
								</li>
							<%end%>
						</ul>
					</div><!-- end of block div -->

					<div class="block">
						<ul class="recent">
							<% @products_others.where(category_id: @other_categories[2]).sample(4).each do |product|%>							
								<li>
									<%= link_to image_tag(product.photo, alt: "Hotest"), product_path(product), :class=>'img-box'%>					
										<h5><a href="/products/<%=product.slug%>"><%=product.name %></a></h5>
										<p class="rate">
												<%=product.region%>
										</p>
								</li>
							<%end%>
						</ul>
					</div><!-- end of block div -->
					<div class="bot-border"></div>
				</div><!-- end of tabed div -->
			</div><!-- end of fav-recipes widget -->

			<div id="twitter-feed"></div>
		</div><!-- end of sidebar -->

		<!-- ========== END OF SIDEBAR AREA ========== -->

	</div>