<% title 'Deliciously Portugal - '+@product.name %>
<%= stylesheet_link_tag "instagram.css" %>
<%= stylesheet_link_tag "twitter-styles.css" %>
<%= javascript_include_tag params[:controller]  %>
<%= javascript_include_tag "jquery.instagram.js" %>
<%= javascript_include_tag "jquery.slimbox2.js" %>
<%= javascript_include_tag "twitterfeed-search.js" %>
<!-- ============= CONTENT AREA STARTS HERE ============== -->
<div id="content" class="clearfix">
		<div id="left-area" class="clearfix full-wide">
				<h2 class="title"><%= @product.name %></h2>
				<!--<p><%= @product.region%></p>-->
				<div class="single-imgs">
					<div class="single-img-box">
						<div class="recipe-single-img">
							<%= image_tag(@product.photo, alt: "Image") %>							
						</div>
					</div>
					<div id="horiz_container_outer" class="small-img-cont">
						<h4 class="red"><%=@product.hashtag%> on Instagram</h4>
								<div class="instagram-gallery"></div>
						
					</div>
				</div>
                
				<!--<h3><%= @product.description%></h3>
				<span class="w-pet-border"></span>-->
				
				<div class="info-left">
						<!--<div class="list-left">
								<h3 class="blue">Ingredients (serves 10)</h3>
								<ul>
										<li>1 1/2 cups plain flour</li>
										<li>1/4 cup caster sugar</li>
										<li>125g butter, chilled, chopped</li>
										<li>1 egg, lightly beaten</li>
										<li>200g unsalted macadamia nuts</li>
								</ul>
						</div>
				
						<div class="list-right">
								<h3 class="blue">Macadamia maple filling</h3>
								<ul>
										<li>1 1/2 cups firmly-packed brown sugar</li>
										<li>1/4 cup queens maple syrup</li>
										<li>50g butter, melted</li>
										<li>1/4 cup pure cream</li>
										<li>3 eggs, lightly beaten</li>
								</ul>
						</div>-->
						<br />
					<!--	<h3 class="blue">Method</h3> -->
						
                        <h4 class="red">Description</h4>
						<p><%= @product.description %></p>
						
                      <!--  <h4 class="red">Step 02</h4>
						<p>Place flour, sugar and butter in a food processor. Process until mixture resembles fine breadcrumbs. Add egg. Process until dough just comes together. Turn pastry onto a lightly-floured surface.</p>
						
                        <h4 class="red">Step 03</h4>
						<p>Place flour, sugar and butter in a food processor. Process until mixture resembles fine breadcrumbs. Add egg. Process until dough just comes together. Turn pastry onto a lightly-floured surface.</p>                    
						
                        <br />
						<span class="w-pet-border"></span>
						
						<h3 class="blue">Recipe Comments and Reviews
								<span class="note">Please feel free to rate &amp; review this recipe</span>
						</h3>
						<span class="w-pet-border"></span>
						
						<div class="comments">
								<h2>Comments <span>(3)</span></h2>
								<span class="w-pet-border"></span>
								<ol class="comment-list">
										<li>
												<div class="img-box">
                                                		<a href="#"><img src="images/author1.jpg" alt="Comment Author" class="author-img" /></a>
                                                </div>
												<div class="comment-body">
														<p class="meta">posted by <a href="#">john doe</a> on <span>23rd June 2011</span></p>
														<p class="comment">Cras id nibh neque, eu dignissim orci. Aenean at adipiscing urna. Suspendisse potenti. Suspendisse vitae tellus a neque commodo rutrum.</p>
												</div>
												<ul>
														<li>
																<div class="img-box">
		                                                        		<a href="#"><img src="images/author3.jpg" alt="Comment Author" class="author-img" /></a>
		                                                        </div>
																<div class="comment-body">
																		<p class="meta">posted by <a href="#">john doe</a> on <span>23rd June 2011</span></p>
																		<p class="comment">Cras id nibh neque, eu dignissim orci. Aenean at adipiscing urna. Suspendisse potenti. Suspendisse vitae tellus a neque commodo rutrum.</p>
																</div>
														</li>
												</ul>
										</li>
										<li>
												<div class="img-box">
                                                		<a href="#"><img src="images/author2.jpg" alt="Comment Author" class="author-img" /></a>
												</div>
												<div class="comment-body">
														<p class="meta">posted by <a href="#">john doe</a> on <span>23rd June 2011</span></p>
														<p class="comment">Cras id nibh neque, eu dignissim orci. Aenean at adipiscing urna. Suspendisse potenti. Suspendisse vitae tellus a neque commodo rutrum.</p>
												</div>
										</li>
								</ol>
						</div><!-- end of comments div -->
						<h4 class="red">Region</h4>
						<div class="single-img-box">
							<div id="map-canvas"></div>			        
				        </div>
				</div><!-- end of info-left div -->
				
				
				<div class="info-right">
						<div class="cookname">
								<div class="img-box">
										<a href="#"><img src="/assets/chef.jpg" alt="Cook" /></a>
								</div>
								<div class="cook-info">
										<h5><a href="#">Chef Lion</a></h5>
										<p>Click here to see more recipes of <a href="#">Cook Name</a></p>
										<a href="#">More..</a>
								</div>
						</div><!-- end of cookname div -->
						<div class="rate-box">
								<p class="share">
										<a href="#" class="print"></a>
										<a href="#" class="email"></a>
										<a href="#" class="note"></a>
										<a href="#" class="save"></a>
								</p>
								<h6>Average Member Rating</h6>
								<p class="rates">
										<span></span>
										<span></span>
										<span></span>
										<span></span>
										<span class="off"></span>
										(4.0 / 5)
								</p>
								<a href="#" class="readmore">Rate It Now</a>
								<p class="status"><span>1 member</span> has rated this recipe</p>
						</div><!-- end of rate-box div -->
						
						<div class="more-recipe">
								<h5>More recipes like this one</h5>
								<div class="recipe-imgs">
										<div class="more-recipes">
												<ul>
														<li>
																<a href="#"><img src="/assets/slider/small_1.jpg" alt="Image 1" /></a>
																<p class="info-box">Christmas desserts recipes</p>
														</li>
														<li>
																<a href="#"><img src="/assets/slider/small_2.jpg" alt="Image 2" /></a>
																<p class="info-box">Dessert recipes</p>
														</li>
												</ul>
										</div>
										<span class="prev"></span>
										<span class="next"></span>
								</div><!-- end of recipe-imgs div -->
						</div><!-- end of more-recipe div -->
						
						<div class="nutritional">
								<h3>Nutritional information</h3>
								<p>This information is per serve.</p>
								<ul>
										<li>
												<p>Protein</p>
												<span>6.60g</span>
										</li>
										<li>
												<p>Dietary Fibre</p>
												<span>2.00g</span>
										</li>
										<li>
												<p>Fat Total</p>
												<span>34.60g</span>
										</li>
										<li>
												<p>Energy</p>
												<span>2050kj</span>
										</li>
										<li>
												<p>Fat Saturated</p>
												<span>14.00g</span>
										</li>
										<li>
												<p>Sodium</p>
												<span>157g</span>
										</li>
										<li>
												<p>Carbohydrate</p>
												<span>39.10g</span>
										</li>
										<li>
												<p>Cholesterol</p>
												<span>128.00mg</span>
										</li>
								</ul>
								<a href="#">More recipes with nutritional info</a>
						</div>
				
				</div><!-- end of info-right div -->
				
				<span class="w-pet-border"></span>
		
		</div><!-- end of left-area -->
</div><!-- end of content div -->