<% title 'Deliciously Portugal - '+@product.name %>
<%= stylesheet_link_tag "twitter-styles.css" %>
<%= javascript_include_tag params[:controller]  %>
<%= javascript_include_tag "jquery.instagram.js" %>
<%= javascript_include_tag "jquery.slimbox2.js" %>
<%= javascript_include_tag "twitterfeed-search.js" %>
<!-- ============= CONTENT AREA STARTS HERE ============== -->
<div id="content" class="clearfix">
	<div id="left-area" class="clearfix full-wide">
		<h2 class="title"><%= @product.name %></h2>
		<!--<p><%= @product.region%></p>-->
		<div class="single-imgs">
			<div class="single-img-box">
				<div class="recipe-single-img">
					<%= image_tag(@product.photo, alt: "Image", class: "instagram-image") %>							
				</div>
			</div>
			<div id="horiz_container_outer" class="small-img-cont">
				<h6 class="red"><%=@product.hashtag%> on Instagram</h6>
				<div class="instagram-gallery"></div>

			</div>
		</div>

		<div class="info-left">

			<h4 class="red">Description</h4>
			<p><%= @product.description %></p>

			<h4 class="red">Region</h4>
			<div class="single-img-box">
				<div id="map-canvas"></div>			        
			</div>


			<center style="border-top: 1px solid #EBEBEB; border-bottom: 1px solid #ebebeb; height: 70px;">                                
				<!-- Redes externas -->
				<!-- <center> -->
					<p class="postmetadata alt">
						<!-- <ul style="overflow: auto; list-style-type: none;"> -->
						</p><ul style="list-style-type: none; margin-left: 15px;margin-top: 15px;">
								<!-- Twitter -->
								<li style="height: 20px; float: left; margin-right: 0px; padding: 0 0px; margin-left: -15px;"> 	<a href="https://twitter.com/share" class="twitter-share-button" data-url="<%=request.original_url%>" data-via="DeliciouslyPT" data-hashtags="DeliciouslyPT">Tweeter</a>
								</li>
								
							<li style="height: 20px; float: left; margin-right: 0px; padding: 0 0px;">
								<div class="fb-like" data-href="<%=request.original_url%>" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>

								&nbsp;&nbsp;
							</li>
						</ul>
						<!-- </center> -->
					</center>
						<span class="w-pet-border"></span>
					<h3>Comments</h3>
<div class="fb-comments" data-href="<%=request.original_url%>" data-numposts="5" data-width="640"></div>

				</div><!-- end of info-left div -->


				<div class="info-right">

					<div id="twitter-feed"></div>
					


				</div><!-- end of info-right div -->

				<span class="w-pet-border"></span>

			</div><!-- end of left-area -->
		</div><!-- end of content div -->