<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title><%= content_for?(:title) ? yield(:title) : "Deliciously Portugal beta" %></title>
	<%= include_gon %>
	<%= stylesheet_link_tag    "application",  :media => "all" %>
	<%= javascript_include_tag "vendor/custom.modernizr" %>
	<%= csrf_meta_tags %>
</head>

<body>

	<!-- Navigation -->
	<nav class="top-bar">
		<ul class="title-area">
			<!-- Title Area -->
			<li class="name">
				<h1>
					<a href="/">
						Deliciously Portugal beta
					</a>			 
				</h1>				
					<div class="fb-like" data-href="https://www.facebook.com/DeliciouslyPortugal" data-width="100" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
					<p>
						<a href="https://www.facebook.com/DeliciouslyPortugal" class="fc-webicon facebook">Deliciously on facebook</a>		
						<a href="https://twitter.com/DeliciouslyPT" class="fc-webicon twitter">Deliciously on twitter</a>	
						<a href="http://instagram.com/deliciouslypt" class="fc-webicon instagram">Deliciously on instagram</a>	
					</p>
					
			</li>
			<li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
		</ul>

		<section class="top-bar-section"> 		
			<div class="search_top_main">
				<ul class="right">
					<li class="search">
						<form>
							<input type="search" id="searchMain" placeholder="Search for delicious portuguese food...">
						</form>
					</li>					
				</ul>
			</div>
			
			
			
		</section>
	</nav>

	<!-- End Navigation -->




	<%= javascript_include_tag "application" %>
	<%= yield %>


	<!-- Footer -->

	<footer class="row">
		<div class="large-12 columns">
			<hr>
			<div class="row">
				<div class="large-4 columns">
					<p>&copy; Copyright 2013 Deliciously Portugal.

					</p>
				</div>
			


				<div class="large-8 columns">
					<ul class="inline-list right">
						<li><a href="/contact/about_us">About us</a></li>
						<li><a href="/contact/suggest_food">Suggest a portuguese delicious food</a></li>
						<li><a href="/contact/index">Contact us</a></li>            
					</ul>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>
